[submodule "cinespoilers3"]
	path = cinespoilers3
	url = https://github.com/Ingaxgaramendi/cinespoilers3.git
[submodule "CinnSin"]
	path = CinnSin
	url = https://github.com/yojhanHuanca/CinnSin.git
[submodule "Cinespoiler_Carbajal"]
	path = Cinespoiler_Carbajal
	url = https://github.com/Gonnarch/Cinespoiler_Carbajal
